* {
 margin:0;
 padding:0;
 font:inherit;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;
}
a {
 color:#365F86;
 text-decoration:none
}
a:focus,a:hover {
 color:#36556A;
 text-decoration:underline
}
abbr,.abbr {
 text-decoration:none;
 border:0;
 cursor:help
}
blockquote {
 color:#798BA2;padding-left:1em;border-left:2px solid;
}
b,strong,th {
 font-weight:bold
}
em,i {
 font-style:italic
}
h1 {
 font-size:150%
}
h2 {
 font-size:140%
}
h3 {
 font-size:130%
}
h4 {
 font-size:120%
}
h5 {
 font-size:110%
}h6{font-weight:bold}
img {
 max-width:100%;
 height:auto
}
blockquote,fieldset,figure,h1,h2,h3,h4,h5,h6,ol,p,pre,table,ul {
 margin-top:1rem
}
blockquote:first-child,fieldset:first-child,figure:first-child,h1:first-child,h2:first-child,h3:first-child,h4:first-child,h5:first-child,h6:first-child,ol:first-child,p:first-child,pre:first-child,table:first-child,ul:first-child {
 margin-top:0
}
fieldset{border:1px solid #ddd;padding:1em}legend{padding:0 .5em;text-transform:uppercase;font-size:76%;font-weight:bold;color:#aaa}
hr {
 border:0;
 background:0 0;
 color:#aaa;
 height:auto;
 margin:2em 0;
 text-align:center
}
hr::before {
 content:'\2022\2002\2022\2002\2022'
}
ol,ul {
 margin-left:2em
}
ol li {
 list-style:decimal outside
}
ul li {
 list-style:disc outside
}
ol ol,ol ul,ul ol,ul ul {
 margin-top:0
}
code,.code {
 font-family:"Roboto Mono","Courier New",Courier,"Nimbus Mono L",monospace;
 font-size:82%
}
pre {
 white-space:pre-wrap;
 word-wrap:break-word
}
pre code,pre code.hljs {
 display:block;
 background:#2E3440;
 color:#fff;
 padding:.75em 1em;
}
pre code a,pre code a:focus,pre code a:hover {color:inherit}
pre code .hljs-ln {table-layout:fixed;width:100%}
pre code .hljs-ln-n{white-space:nowrap}
pre code .hljs-ln-numbers {color:#585D6C;border-right:1px solid #585D6C;width:2em;text-align:right;vertical-align:top}
pre code .hljs-ln-n{padding:0 .5em 0 0}
pre code .hljs-ln-code {padding:0 0 0 1em;text-align:left;vertical-align:top}
pre code.xmp {
 background:#434858
}
pre code.xmp .hljs-comment{color:#646C83}
pre code.xmp .hljs-ln-numbers{color:#818BA5;border-color:#818BA5}
.table {
 border-collapse:collapse;
  width:100%;
}
.table th,.table td {
 border:1px solid #fff;
 background:#eef;
 padding:.25em .65em;
 text-align:left;
 vertical-align:top
}.table th{background:#dde}.table caption{margin:0 0 .5em;color:#999}figure img{display:block}figcaption{margin:.5em 0 0;color:#999}
.button,.input,.select,.textarea {
 display:inline-block;vertical-align:middle;
 background:#eef;
 color:#000;border:0;width:14em;height:2.5em;
 text-decoration:none;
 padding:.5em .75em;
 box-shadow:inset 0 1px 2px rgba(0,0,0,.125)
}.textarea{height:auto;min-height:6em}
.button,.button:hover{background:#369BCE;width:auto;text-decoration:none;padding-right:1em;padding-left:1em;
 color:#fff;
 box-shadow:0 1px 1px rgba(0,0,0,.25);cursor:pointer}
.button:focus {
 background:#3690BF;color:#fff;text-decoration:none;
}.button .icon{margin:0 0 0 -.25em}label,.select{cursor:pointer}form p>label,form .p>label{padding:.5em 0}
.input[type=checkbox],.input[type=radio]{padding:0;background:none;box-shadow:none;width:auto;height:auto;cursor:pointer}
.input[type=color]{width:2.5em;height:2.5em;padding:0;box-shadow:none;cursor:pointer}.input[type=range]{background:none;padding:0;box-shadow:none;cursor:pointer}
.buttons {
 margin:2em 0
}
.buttons::after {
 content:"";
 display:table;
 clear:both
}
.buttons .button {
 float:left;
 margin:0 .5em 0 0
}.block{display:block;width:100%}.align-left{float:left;margin:.45rem 1rem 0 0}.align-right{float:right;margin:.45rem 0 0 1rem}
html {
 font:normal normal 13px/1.5 "Roboto Condensed",Roboto,Helmet,FreeSans,sans-serif;
 background:#fff;
 color:#333;
 border-top:4px solid #333
}
body {
 padding:2em;margin-right:auto;margin-left:0;
}
body>header{display:block;margin:0 auto 2em;max-width:45em;border-bottom:1px solid #ddd}
body>header p{margin:0}
body>header>nav{display:block;margin:1.5em 0 0;height:2em;line-height:2em;text-transform:uppercase}
body>header>nav ul,body>header>nav li{margin:0;padding:0;list-style:none}
body>header>nav li{float:left;font-size:86%;margin-right:2em}
body>header>nav li:last-child{margin-right:0}
body>header>nav a,body>header>nav span{display:block}
body>header>nav a,body>header>nav a:focus,body>header>nav a:hover{text-decoration:none}
main {
  display:block;
  max-width:45em;
  margin:0 auto;
}
aside {
 width:15em;
 padding:.25em 1em 0 0;
}
aside ul,aside li {
 margin:0;
 list-style:none
}
aside>ul>li+li {
 margin-top:.5em
}
aside ul ul {
 margin-left:.5em
}
aside li strong {
 text-transform:uppercase;display:block;
}article>header{margin-bottom:2em}article>footer{margin-top:2em;color:#999}
article>div>blockquote:first-child,article>div>.toc+blockquote,article>div>.buttons+blockquote {
 font:inherit;
 margin:-2em 0 2em;padding:0;border:0;
 color:#999
}
article>div>.toc{margin:0;padding:0}
article>div>.toc .toc-header{font-weight:bold;text-transform:uppercase;font-size:82%}
article>div>.toc+blockquote,article>div>.buttons+blockquote{margin-top:2em}
.tags{margin:-1.25em 0 2em;overflow:hidden}
.tags .tag {
 display:block;
 float:left;
 padding:0 .5em;
 background:#666;
 color:#fff;
 border-radius:.25em;cursor:help
}
.tags .tag+.tag {
 margin-left:4px
}
.tags .tag-version {
 background:#0074E8
}
.tags .tag-interface {
 background:#FF4500
}
.tags .tag-parent {
 background:#32CD32
}
.tags .tag-abstract{background:#899DB2}
.tags .tag-static{background:#4D647C}
.metas,.metas li{margin:0;padding:0;list-style:none}
.metas::after{content:"";display:table;clear:both}
.metas li{float:left;margin-right:1em}
.metas li:last-child{margin-right:0}
.metas a{color:inherit}
.metas a:focus,.metas a:hover{color:#666;text-decoration:none}
.metas .nav{float:right;overflow:hidden}
.metas .nav a,.metas .nav span{float:left}
.metas .nav a:first-child,.metas .nav span:first-child{margin-right:1em}
.icon{display:inline-block;width:1em;height:1em;vertical-align:middle;fill:currentColor}

.comments,.comments-body{margin:2em 0 0}

.is-reference body{padding-top:3.5em;max-width:70em;margin-right:auto;margin-left:0}
.is-reference body>header{max-width:100%;height:0;margin:0;padding:0;border:0}
.is-reference body>header h1,
.is-reference body>header p{display:none}
.is-reference body>header>nav{margin:0;position:absolute;top:0;right:0;left:0;background:#333;color:#ddd;border-bottom:1px solid #222}
.is-reference body>header>nav li{margin:0}
.is-reference body>header>nav a,.is-reference body>header>nav span{padding:0 1em}
.is-reference body>header>nav a{color:#999}
.is-reference body>header>nav a:focus{color:#aaa}
.is-reference main{display:table;width:100%;max-width:100%;direction:rtl}
.is-reference article,.is-reference aside{display:table-cell;direction:ltr;text-align:left;vertical-align:top}
@media (max-width:800px){.is-reference article,.is-reference aside{display:block;width:auto}.is-reference aside{margin-top:2em}}