---
title: Alert
description: Display alert messages throughout the page.
author: Taufik Nurrohman
type: Markdown
...

### Usage

~~~ .php
Alert::error('This is an error message.');
Alert::info('This is an info message.');
Alert::success('This is a success message.');

echo $alert;
~~~

**Result:**

~~~ .xml
<alert type="error">This is an error message.</alert>
<alert type="info">This is an info message.</alert>
<alert type="success">This is a success message.</alert>
~~~
