---
@version: [current]
@description: Dynamic methods.
@lot:
- string $kin, array $lot = []
@static: 1
@example: |
  Alert::error('Invalid token.');
  Alert::info('Your pass is <em>asdf</em>.');
  Alert::success('File <code>.\index.php</code> successfully updated.');

  Alert::foo('Foo message goes here.');
  Alert::bar('Bar message goes here.');
@example-description: If no kin was defined, this method will function as a shortcut for [link:get].
...