---
@version: [current]
@description: Dynamic method name used to render layout within layout.
@lot:
- string $kin, array $lot = []
@static: 1
@example: |
  <?= self::before(); ?>
  <main>
    <article>
      <h2><?= $page->title; ?></h2>
      <div><?= $page->content; ?></div>
    </article>
  </main>
  <?= self::after(); ?>
@example-language: 'html'
...

### In Depth

 - [link:/article/case-layout-feature]